@import url("~leaflet/dist/leaflet.css");
@import "~antd/dist/antd.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

body,
#root,
.leaflet-container {
  height: 100vh;
  width: 100vw;
}

.dropdown {
  text-align: right;
  font-size: 20px;
}

.dropdown-menu {
  height: 40vh;
  overflow-y: scroll;
}